*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

nav{
    overflow: auto;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to left top, #0087ff, #00a3ff, #00bcff, #00d3ff, #1ae7ff);    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.logo{
    float: left;
    line-height: 80px;
    margin: 0px 40px;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-decoration: none;
}
.logo:hover{
    font-size: 46px;
    color: white;
}
ul{
    float: right;
    margin-right: 40px;
    line-height: 80px;
}
ul li{
    display: inline-block;
}
ul li a{
    font-size: 25px;
    color: white;
    padding: 10px 10px;
    background-image: linear-gradient(to left top, #009eff, #00b2ff, #00c5ff, #00d7ff, #1ae7ff);    border-radius: 10px;
    text-decoration: none;
}
ul li a:hover{
    font-size: 32px;
    box-shadow: 1px 4px 15px 4px rgb(5, 227, 243);
    border: 1px double rgb(252, 252, 252);
    color: white;

}
.chikaya{
    width: 100px;
}
.card{
    text-align: center;
}
input{
    text-align: center;
}
label{
    font-size: 20px;
}
.labphone{
    display: none;
}
.iconmenu{
    float: right;
    color: rgb(255, 255, 255);
    line-height: 80px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 35px;
    display: none;
}
@media (max-width:770px) {
    .ul{
        display: none;
        position: fixed;
        top: 80px;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to top, #0000e6, #004fde, #005cae, #005f78, #575a5a);
        height: 90vh;
        border-radius: 6px;
    }
    
    .iconmenu{
        display: block;
    }
    .labphone{
        display: block;
    }
    .td1{
        display: none;
    }
    ul li {
        display: block;
    }
    #check:checked ~ .ul:first-of-type {
        display: block;
    }


}

#check{
    display: none;
}



#input1 , #input2,#input3,#input4,#input5,#input6,#input7,#input8,#input9,#input10,#input11{
    background-color: rgb(146, 146, 146);
    box-shadow:  1px 1px 1px 1px rgba(0,0,0,.075);
    border:1px solid #f1f2f7;
    background-color: #f1f2f7;
}

table{
    width: 100%;
}
.td1{
    width: 20%;
    text-align: left;
}
.td2{
    width: 100%;
}
.save{
    width: 20vh;
    height: 10;
}
.succes{
    color: rgb(255, 0, 0);
}

.left{
    float: left;
    width: 20%;
    background-color: #1AE7FF;
    text-align: center;
    height: 100vh;
    border-radius: 10px;
}
.main{
    float: right;
    width:80%;
}
.btn1{
    width: 100%;
    background-color: #1AE7FF;
    border: none;
    color:black;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;

}
.btn1:hover{
    background-color: wheat;

}
.title{
    text-align: center;
}
.chikaya1{
    width: 100px;
    
}
#submit{
    padding: 10px 40px;
    background-image: linear-gradient(to left top, #009eff, #00b2ff, #00c5ff, #00d7ff, #1ae7ff);
    border: none;
    font-size: 20px;
    border-radius: 10px;
}
#submit1{
    padding: 10px 40px;
    background-image: linear-gradient(to left top, #009eff, #00b2ff, #00c5ff, #00d7ff, #1ae7ff);
    border: none;
    font-size: 20px;
    border-radius: 10px;
}
.notfound{
    width: 100px;
}
.lab{
    border-radius: 10px;
    background-color: rgb(146, 146, 146);
    box-shadow:  1px 1px 1px 1px rgba(0,0,0,.075);
    border:1px solid #f1f2f7;
    background-color: #f1f2f7;
    width: 80%;
}
.tdstyle{
    color: green;
    font-size: 25px;
}
.tdstyle1{
    color: green;
    font-size: 17px;
}
.table1 {
    display: none;
}
.btn2{
    display: none;
}
.labsubmit{
    cursor: pointer;
}
